body{
  background-color: #F1F1F1;;
}
header{
  padding-top: 21px;
  padding-left: 162px;
  margin-bottom: 42px;
  .container{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul{
    width: 370px;
    display: flex;
    justify-content: space-between;
    a{
      color: #000;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  nav{
    margin-right: 28px;
   
  }
 
}

.s-1{
  margin-left: 162px;
  margin-bottom: 57px;
  h1{
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 27px;
  }
  .container{
    display: flex;
    width: 1170px;
    justify-content: space-between;
   
  }
   .card1{
    position: relative;
    width: 365px;
    height: 360px;

    .img1{
      height: 186px;
    }

    .carddiv{
      border-radius: 0px 0px 5px 5px;
      background: #FFF;
      width: 362px;
      height: 171px;

      .mineh6{
        color: #8A8787;
        font-family: Roboto;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 260px;
        height: 38px;
        padding-top: 55px;
        padding-left: 25px;
        padding-right: 20px;
        width: 90%;
        margin:0 auto;
      }
    }

   }
  .s-1h3{
    position: absolute;
    top: 30px;
    left: 40px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .myh6{
    color: #8A8787;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .imgandh6{
    display: flex;
    width: 105px;
    align-items: center;
    justify-content: space-between;
    padding-top: 62px;
    padding-left:40px;
  }

  

}










.s-2{
  margin-left: 162px;
  h1{
    color: #000;
    font-family: 'Roboto', sans-serif; ;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 30px;
  }
  .mydiv{
    position: relative;
    width:758px ;
    height: 430px ;
    border: 2px solid red;
    margin-bottom: 42px;
    
  }
  .s-2h3{
    position: absolute;
    top: 205px;
    left: 270px;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .picwrap{
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;
  }
  .imgwrap{
    width: 362px;
    height: 840px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .imgwrap2{
    display: inline-block;
    vertical-align: top;
  }
}








footer{
   margin-top: 40px;
  .footer{
    background-color: #243043;
    width: 1519px;
    height: 230px;
  }
  .ulwrap{
    display: flex;
    width: 1100px;
    padding-top: 60px;
    padding-left: 162px;
    justify-content: space-between;
    padding-right: 60px;
  }
  ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 88px;
    height: 130px;
    border: 2px solid red;



    a{
      color:#818687;
      font-family: Roboto;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

    }
  }
  h6{
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainwrap{
    display: inline-block; 
    padding-right: 300px;

}

}